*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.font-head-rules {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
}
.font-body-rules {
  font-family: "Lato", sans-serif !important;
}

.btn-primary-light {
  color: #1cc29f;
}
.btn-primary-light:hover {
  color: #149478;
}
.bg-abstract {
  background: url("https://assets.splitwise.com/assets/core/facets.png");
  background-size: 1000px;
  background-position: top;
  background-repeat: repeat;
  background-size: auto;
}

.fill-green {
  background-color: #1cc29f;
}
.fill-orange {
  background-color: #ed7041;
}
.fill-grey {
  background-color: #373b3f;
}

.fill-purple {
  background-color: #8656cd;
}

.info-con {
  width: 40%;
}
.abstract-image-con {
  width: 60%;
}
.text-green {
  color: #1cc29f;
}
.text-green-card {
  background-color: #44ddb229;
}
.text-orange {
  color: #ed7041;
}
.text-grey {
  color: #373b3f;
}

.fill-svg-green {
  filter: brightness(0) saturate(100%) invert(62%) sepia(61%) saturate(553%)
    hue-rotate(117deg) brightness(89%) contrast(87%);
}
.fill-svg-purple {
  filter: brightness(0) saturate(100%) invert(38%) sepia(92%) saturate(668%)
    hue-rotate(228deg) brightness(85%) contrast(88%);
}

.fill-svg-pink {
  filter: brightness(0) saturate(100%) invert(8%) sepia(77%) saturate(6590%)
    hue-rotate(334deg) brightness(99%) contrast(110%);
}
.fill-svg-grey {
  filter: brightness(0) saturate(100%) invert(19%) sepia(10%) saturate(403%)
    hue-rotate(175deg) brightness(97%) contrast(87%);
}
.svg-icon > li {
  width: 12%;
  margin-right: 20px;
}

a {
  color: #373b3f;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #373b3f;
  text-decoration: none;
}
.mobile-bottom {
  object-position: bottom;
}
.seprator > li {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.15rem;
}
.seprator > li > img {
  margin-right: 10px;
  height: 100%;
}
.card-size {
  margin-top: 30px;
  height: 200px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
}
.card-footer {
  background-color: #fff;
  border-top: none;
  padding-bottom: 20px;
}

.gutter-zero {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
}

.vh-50 {
  height: 75vh;
}
.login-card {
  box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.74);
  border-radius: 10px;
}

.w-10per {
  width: 10%;
}
.w-20per {
  width: 20%;
  object-fit: contain;
}
.navbar-user {
  background-color: #44ddb2;
}
.bg-orange {
  background-color: #ff652f;
  border-color: #ff652f;
  box-shadow: 0 2px 0 0 rgb(55 59 63 / 50%);
  border-radius: 5px;
  outline: none !important;
}
.bg-orange:hover,
.btn-primary:visited {
  background-color: #ff5416;
  border-color: #ff652f;
  outline: none !important;
}
.bg-orange:focus {
  background-color: #ff5416;
  border-color: #ff652f;
  outline: none !important;
}
.bg-orange:target {
  background-color: #ff5416;
  border-color: #ff652f;
  outline: none !important;
}
.bg-orange:active {
  background-color: #ff5416;
  border-color: #ff652f;
  outline: none !important;
}
.btn-primary-dark {
  background-color: #1cc29f;
  border-color: #1cc29f;
  box-shadow: 0 2px 0 0 rgb(55 59 63 / 50%);
  border-radius: 5px;
  outline: none !important;
}
.btn-primary-dark:hover,
.btn-primary:visited {
  background-color: #149478;
  border-color: #1cc29f;
  outline: none !important;
}
.bg-orange:focus {
  background-color: #149478;
  border-color: #1cc29f;
  outline: none !important;
}
.bg-orange:target {
  background-color: #149478;
  border-color: #1cc29f;
  outline: none !important;
}
.bg-orange:active {
  background-color: #149478;
  border-color: #1cc29f;
  outline: none !important;
}
/* .log {
}
.dashBord {
} */
.dashBord-con {
  box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.74);
}
.active-cal-bord {
  border-left: 5px solid #44ddb2;
  outline: none !important;
}
.active-cal-bord:hover {
  border-left: 5px solid #44ddb2;
  outline: none !important;
}
.active-cal-bord:focus {
  border-left: 5px solid #44ddb2;
  outline: none !important;
}
.active-cal-bord:target {
  border-left: 5px solid #44ddb2;
  outline: none !important;
}
.active-cal-bord:active {
  border-left: 5px solid #44ddb2;
  outline: none !important;
}
.onhoverADD:hover {
  color: #1cc29f;
}
